h1 {
  text-align: center;
  color: cornflowerblue;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

nav a:hover {
  color: #eeb78e;
  text-decoration: none;
}

body {
  background-color: white;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #e9f1f7;
}

label {
  font-weight: 600;
}

.edit_delete {
  display: flex;
  justify-content: space-evenly;
}

/* used for sticky footer */
html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
}

footer>p {
  padding-top: 12px;
}

footer>p>a {
  color: white;
}

/* end of sticky footer formatting */